:root {
  --color-primary: #01385e;
  --color-secondary: #ed680f;
  --color-green: #049540;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Roboto Condensed", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

.fs-7 {
  font-size: 0.875rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.fs-9 {
  font-size: 0.625rem !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}


.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.container {
  max-width: 1140px;
}

.ff-roboto {
  font-family: "Roboto", sans-serif;
}

.ff-roboto-cond {
  font-family: "Roboto Condensed", sans-serif;
}

.hero-section {
  min-height: 500px;
  background-image: url(../images/desk_slider_slim_SLVTPLink_template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-primary {
  font-size: 54px;
}

.title-secondary {
  font-size: 44px;
}

.card-link {
  position: relative;
  border: 0;
  border-radius: 0px;
  min-height: 155px;
}

.card-link .image-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 25px;
  background: #2929295c;
  z-index: 1;
}

.card-link .link-text {
  position: relative;
  color: #fff;
  font-weight: 700;
  padding-right: 60px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 15px #000);
  transition: 0.4s ease
}

.card-link .link-text svg {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -42px;
  right: -20px;
  color: var(--color-secondary);
  transition: 0.4s ease
}

.card-link:hover .link-text svg {
  color: var(--color-secondary);
  right: -25px;
}

.card-link:hover .link-text {
  padding-right: 65px;
}

@media screen and (max-width: 991px) {
  .title-primary {
    font-size: 42px;
  }

  .title-secondary {
    font-size: 34px;
  }

  .text-wrapper {
    padding: 20px;
  }

  .card-link .link-text svg {
    width: 90px;
    height: 90px;
    top: -31px;
    right: -20px;
  }

  .card-link .link-text {
    font-size: 24px;
    padding-right: 40px;
  }

  .card-link:hover .link-text {
    padding-right: 45px;
  }

  .description-primary {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .card-link {
    min-height: 120px;
  }
}

@media screen and (max-width: 590px) {
  .hero-section {
    min-height: 350px;
    background-image: url(../images/mobile_slider_slim_template_SLVTPLink.jpg);
  }

  .title-primary {
    font-size: 32px;
    line-height: 1.1;
  }

  .title-secondary {
    font-size: 28px;
    line-height: 1.1;
  }

  .description-primary {
    font-size: 16px;
  }

  .card-link {
    min-height: 110px;
  }
}

@media screen and (max-width: 389px) {
  .hero-section {
    min-height: 300px;
  }

  .title-primary {
    font-size: 28px;
  }

  .title-secondary {
    font-size: 26px;
  }

  .card-link .link-text {
    font-size: 20px;
    padding-right: 40px;
  }

  .card-link {
    min-height: 100px;
  }

  .card-link .link-text svg {
    width: 80px;
    height: 80px;
    top: -29px;
  }
}